.idea/
emr-baseline-testing/target/*
emr-baseline-testing/dist/*
emr-baseline-testing/lib/*
emr-baseline-testing/*.tgz
emr-oss/target/*
emr-ons/target/*
emr-mns/target/*
emr-maxcompute/target/*
emr-logservice/target/*
emr-tablestore/target/*
emr-dts/target/*
emr-kafka/target/*
emr-datahub/target/*
emr-druid/target/*
examples/target/*
*.iml
log.txt